/* Global Variables */
:root {
    --dark-brown: #6d5f58;
    --darker-brown: #4a382f;
    --normal-text: #efeade;
    --light-orange: #f9d6b2;
    --nav-bar: #F2E8DC;
    --light-red: #ff907f;
}

.links {
    margin-right: 80px;
    margin-left: auto;
}

.navbar {
    background-color: var(--nav-bar);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    margin-left: 130px;
}


.search-btn {
    color: var(--darker-brown);
    margin-left: 10px;
    font-size: x-large;
    padding: 5px 6px 4px 6px;
    border-width: 1.5px;
    background-color: white;
    border-color: var(--darker-brown);
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        color: var(--darker-brown);
        border-color: var(--darker-brown);
        transform: scale(1.1);
    }
}

.search-bar {
    margin-left: 50px;
    width: 700px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.search-bar .clear-btn {
    margin-left: -42px;
    color: var(--darker-brown);
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.3);
    }
}