/* Global Variables */
:root {
  --dark-brown: #6d5f58;
  --normal-text: #efeade;
  --light-orange: #f9d6b2;
  --light-red: #ff907f;
}

.recipe-card {
  width: 13rem;
  height: 21.5rem;
  /* top | right | bottom | left */
  margin: 10px -10px 10px 10px;
  background-color: var(--dark-brown);
}

.recipe-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid var(--dark-brown);
  background-color: var(--normal-text);
}

.recipe-title {
  color: var(--light-orange);
}

.recipe-author {
  color: var(--light-orange);
  font-style: italic;
}

.recipe-text {
  color: var(--normal-text);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}