.container {
    display: flex;
    align-items: center;
}

.links {
    margin-right: 20px;
}

.nav-bar {
    background-color: #F2E8DC;
    height: 75px;
}

.nav-item {
    margin-left: 20px;
}

.search-bar {
    width: 650px !important;
}