/* Global Variables */
:root {
  --dark-brown: #6d5f58;
  --normal-text: #efeade;
  --light-orange: #f9d6b2;
  --light-red: #ff907f;
}

.explore-page {
  margin-left: 50px;
  margin-right: 10px;
}

h1 {
  color: var(--dark-brown);
  font-weight: bolder;
}

img,
link {
  color: var(--light-red);
}