/* Global Variables */
:root {
    --dark-brown: #6d5f58;
    --darker-brown: #5a4134;
    --normal-text: #efeade;
    --light-orange: #f9d6b2;
    --light-red: #ff907f;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.page {
    margin: 35px;
}

.search-query,
h1 {
    color: var(--darker-brown);
    font-weight: bolder;
    margin: 20px;
}

.filter-button {
    color: var(--darker-brown);
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    height: 50%;
    transition: all 0.3s;

    &:hover {
        background-color: var(--dark-brown);
    }
}