/* Global Variables */
:root {
    --dark-brown: #6d5f58;
    --darker-brown: #5a4134;
    --normal-text: #efeade;
    --light-orange: #f9d6b2;
    --light-red: #ff907f;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.page {
    margin: 35px;
}

.search-query,
h1 {
    color: var(--darker-brown);
    font-weight: bolder;
    margin: 20px;
}

.filter-button {
    color: var(--darker-brown);
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    height: 50%;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: var(--dark-brown);
    }
}

.display-item {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    padding: 5px 10px;
    color: var(--darker-brown);
    background-color: var(--light-orange);
    border: 1px solid var(--dark-brown);
    border-radius: 20px;
    transition: all 0.3s;

    &:hover,
    &:focus {
        color: var(--normal-text);
        background-color: var(--dark-brown);
    }
}